
@import url(./__form/todos__form.css);
@import url(./__input/todos__input.css);
@import url(./__btn-submit/todos__btn-submit.css);
@import url(./__list/todos__list.css);

.todos {
  flex-grow: 1;
  padding: 0;
  margin: 0;
}