
.todos__btn-submit {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;

  background: #FFFFFF;
  border-radius: 5px;

  flex-shrink: 0;

  width: 180px;
  padding: 20px 0;
  margin-left: 10px;
}
